<div id="<%= dom_id newspaper %>">
  <p>
    <strong>Header:</strong>
    <%= newspaper.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= newspaper.body %>
  </p>

  <p>
    <strong>Link:</strong>
    <a href=<%= newspaper.link %> target="_blank"><%= newspaper.link %></a>

    
  </p>

  <p>
    <strong>Category:</strong>
    <%= newspaper.category.name %>
  </p>

</div>
